img {
    padding: 2em 0 2em 0;
    display: block;
    margin: auto;
}

form {
    text-align: center;
}

.search-button {
    background-color: #f3f3f3;
    color: #777474;
    width: 120px;
    height: 35px;
    margin: 25px 5px 0px 5px;
    font-family: Arial;
    font-size: 14px;
    border: none;
    border-radius: 3px;
}

.language {
    padding: 0px 7px 0px 3px;
    text-decoration: none;
}

#search-field {
    width: 500px;
    height: 36px;
    border: 1px #d3d3d3 solid;
    border-radius: 20px;
    background-color: #fff;
    background: url(looking_glass.png) no-repeat scroll 7px 7px;
    padding-left: 40px;
}

#search-field:hover {
    -moz-box-shadow: 1px 3px 8px 1px #ececec;
    -webkit-box-shadow: 1px 3px 8px 1px #ececec;
    box-shadow: 1px 3px 8px 1px #ececec;
}

#language-option {
    margin-top: 30px;
    text-align: center;
    font-family: Arial;
    font-size: 13px;
}