img {
    padding: 2em 0 2em 0;
    display: block;
    margin: auto;
}

form {
    text-align: center;
}

input {
    width: 500px;
    height: 36px;
    border: 1px #d3d3d3 solid;
    border-radius: 20px;
    background-color: #fff;
    background: url(looking_glass.png) no-repeat scroll 7px 7px;
    padding-left: 40px;
    -moz-box-shadow: 1px 3px 8px 1px #ececec;
    -webkit-box-shadow: 1px 3px 8px 1px #ececec;
    box-shadow: 1px 3px 8px 1px #ececec;
}